{% extends "index.html" %}
{% load i18n %}

    <title>{% block head_title %} {{ cat.title }} | Django News {% endblock %}</title>
    <!-- plugin css for this page -->

      {% block content %}
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="text-center">
              <h1 class="text-center mt-5">
                {{ cat.title }}
              </h1>
              <p class="text-secondary fs-15">
                {{ cat.description|safe }}
              </p>
            </div>
            <h5 class="text-muted font-weight-medium mb-3">{{ cat.title }}</h5>
          </div>
        </div>
        <div class="row">


        <div class="row">
          {% for news in contents %}
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img
                src="{{ news.content_image.url}}"
                class="img-fluid"
                alt="{{ news.title }}"
              />
              <span class="thumb-title">{{ news.main_category.title }}</span>
            </div>
            <h5 class="font-weight-600 mt-3">
             <a href="/news/{{news.slug}}">{{ news.title }}</a>
            </h5>
          </div>
          {% endfor %}


        </div>
      </div>
      {% endblock %}
    </div>
